$warning-color: #AA1133;
.warning-callout {
  border-radius: 0.1em !important;
  font-size: 16px;
  height: auto !important;
  margin: 1em !important;
  padding: 1em !important;
  border: 1px solid rgba($warning-color,0.4) !important;
  background: rgba($warning-color,0.1) !important;
  color: rgba($warning-color, 0.9) !important;

  h2 {
    font-size: 24px;
    margin-top: 10px;
  }
}